@import '_size';
@import	'variables';

/* footer Styles */
footer {
	background: $blue-grey;
	padding: 2rem 0;
    color: $white-gold;
    .logo-placeholder {
        display: flex;
        font-size: 32px;
        color: $white-gold;
        font-family: $font;
        a{
            color: $white-gold;
            text-decoration: none;
            padding: 0;
            font-weight: 200;
            &:hover {
                text-decoration: none;
            }
            &:focus {
                outline: none;
            }   
        }
    }
    a:hover{
        color:$white-gold;
        text-decoration: none;
    }
    ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
    .quick-links{
        @include screen-above('md') {
            text-align: right;
        }
        h3{
            padding-top: 10px;
            margin-bottom: 0;
            padding-bottom: 10px;
        }
    }
}

