@import '_size';
@import	'variables';

/* footer Styles */
footer {
	background: $blue-grey;
	padding: 1.5rem 0;
    color: white;
    .logo-placeholder {
        display: flex;
        font-size: 32px;
        color: white;
        font-family: $font;
        a{
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
            &:focus {
                outline: none;
            }   
        }
    }
    a:hover{
        color:white;
        text-decoration: none;
    }
    ul{
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }
    .quick-links{
        justify-content: flex-end;
    }
}

